body {
  margin: 0;
  padding: 0;

  font-size: 13px;
  line-height: 24px;
  font-family: "PT Sans", Arial, sans-serif;
  color: #000000;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  white-space: nowrap;

  border: 0;

  clip: rect(0 0 0 0);
          clip-path: inset(100%);

  -webkit-clip-path: inset(100%);
}

.main-header {
  font-family: "Cuprum", sans-serif;
}

.container {
  width: 940px;
  margin: 0 auto;
}

.new {
  position: relative;
}

.new::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;

  width: 60px;
  height: 59px;

  background-image: url(../img/new-flag.png);
}

.header-up {
  background-color: #293449;
}

.header-up__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;

  -webkit-box-align: center;
  -ms-flex-align: center;
}

.btn {
  display: inline-block;
  padding: 11px 24px 9px 24px;

  font-size: 14px;
  line-height: 18px;
  font-family: "Cuprum", sans-serif;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #ee3643;
  border-radius: 3px;

  -webkit-transition: all 0.3s;
       -o-transition: all 0.3s;
          transition: all 0.3s;
}

.btn:hover,
.btn:focus,
.logo:hover,
.logo:focus {
  background-color: #ca2c37;
}

.btn:active,
.logo:active {
  background-color: #ba2732;
}

.header-up__logo,
.header-up__logo:not([href]):hover,
.header-up__logo:not([href]):active {
  width: 220px;
  height: 42px;
  padding: 0 55px;
  padding-top: 13px;
  padding-bottom: 10px;

  background-color: #ee3643;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  border-radius: 0;
  -webkit-box-shadow: 0 5px 0 0 #b52933;
          box-shadow: 0 5px 0 0 #b52933;
}

.search-form {
  position: relative;
}

.search-form__icon {
  position: absolute;
  top: 12px;
  left: 17px;

  opacity: 0.3;

  -webkit-transition: all 0.3s;
       -o-transition: all 0.3s;
          transition: all 0.3s;

  fill: #ffffff;
}

.search-form__input:hover + .search-form__icon {
  opacity: 1;
}

.search-form__input:focus + .search-form__icon {
  opacity: 1;

  fill: #ee3643;
}

.search-form__input {
  width: 270px;
  height: 42px;
  padding-top: 0;
  padding-right: 10px;
  padding-bottom: 1px;
  padding-left: 48px;

  font-size: 17px;
  line-height: 18px;

  background-color: inherit;
  border: 0;

  -webkit-transition: all 0.3s;
       -o-transition: all 0.3s;
          transition: all 0.3s;
}

.search-form__input:hover {
  background-color: #212a3a;
}

.search-form__input:focus {
  background-color: #ffffff;
  outline: 0;
}

.search-form__input::-webkit-input-placeholder {
  color: #ffffff;
}

.search-form__input:-ms-input-placeholder {
  color: #ffffff;
}

.search-form__input::-ms-input-placeholder {
  color: #ffffff;
}

.search-form__input::placeholder {
  color: #ffffff;
}

.search-form__submit {
  position: absolute;

  padding: 0;

  font-size: 0;

  border: none;
}

.management {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  margin-left: auto;
  padding: 0;

  list-style: none;
}

.management__item {
  position: relative;
}

.management__link {
  display: block;
  min-width: 150px;
  height: 42px;
  padding: 12px 25px;
  padding-left: 44px;

  font-size: 17px;
  line-height: 18px;
  color: #ffffff;

  -webkit-transition: all 0.3s;
       -o-transition: all 0.3s;
          transition: all 0.3s;
}

.management__link:focus,
.management__link:hover {
  background-color: #212a3a;
}

.management__link:active {
  color: rgba(255, 255, 255, 0.5);

  background-color: #161d29;
}

.management__item--added a {
  background-color: #ee3643;
}

.management__item--added a:focus,
.management__item--added a:hover {
  background-color: #ca2c37;
}

.management__item--added a:active {
  background-color: #ba2732;
}

.management__link--cart {
  padding-left: 50px;
}

.management__link--order {
  padding: 12px 20px;

  background-color: #63a63e;
}

.management__link--order:focus,
.management__link--order:hover {
  background-color: #5fbb2d;
}

.management__link--order:active {
  background-color: #518534;
}

.management__item svg {
  position: absolute;
  top: 12px;
  left: 17px;

  opacity: 0.5;

  -webkit-transition: all 0.3s;
       -o-transition: all 0.3s;
          transition: all 0.3s;

  fill: #ffffff;
}

.management__item--cart svg {
  left: 18px;
}

.management__link:hover + svg,
.management__link:focus + svg {
  opacity: 1;
}

.management__link:active + svg {
  opacity: 0.5;
}

.header-down {
  min-height: 278px;

  background-color: #f4f7f9;
}

.header-down__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 46px;
}

.header-down__title {
  width: 300px;
  margin: 0;
  margin-right: 20px;
  padding: 3px 50px 40px 52px;

  font-weight: 100;
  font-size: 16px;
  line-height: 23px;
  color: #ee3643;
  font-style: italic;;
}


.header-contacts {
  text-align: center;
}

.header-down__contacts {
  margin-right: 50px;
}

.header-contacts__phone-number {
  display: block;
  min-width: 270px;
  margin-bottom: 4px;
  padding: 10px 0 8px 71px ;

  font-weight: 500;
  font-size: 21px;
  line-height: 21px;
  text-align: left;
  color: #ee3643;
  font-style: normal;

  border: solid 3px;
  border-color: #ffffff;
}

.header-contacts__phone-number:hover,
.header-contacts__phone-number:focus {
  color: #ca2c37;
}

.header-contacts__phone-number:active {
  color: #ba2732;
}

.header-contacts address {
  font-size: 14px;
  line-height: 24px;
  color: #32425c;
  font-style: normal;
}

.header-down__user-block {
  width: 300px;
}

.user-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: flex-end;

  -webkit-box-pack: end;
  -ms-flex-pack: end;
}

.user-block__btn {
  height: 45px;
  padding: 12px 25px;
  padding-left: 24px;

  font-size: 21px;
  line-height: 21px;
  text-align: left;
  color: #000000;
  text-transform: none;

  background-color: #ffffff;
  border-radius: 0;
}

.user-block__btn:hover,
.user-block__btn:focus {
  color: #ee3643;

  background-color: #ffffff;
}

.user-block__btn:active {
  color: rgba(0, 0, 0, 0.3);
}

.user-block__btn--sign-in {
  position: relative;

  margin-right: 10px;
  padding-left: 48px;
}

.user-block__btn--sign-in svg {
  position: absolute;
  top: 14px;
  left: 14px;

  -webkit-transition: all 0.3s;
       -o-transition: all 0.3s;
          transition: all 0.3s;

  fill: #c5c5c5;
}

.user-block__btn--sign-in:hover svg,
.user-block__btn--sign-in:focus svg {
  fill: #32425c;
}

.user-block__btn--sign-in:active svg {
  fill: #c5c5c5;
}

.user-block--loged {
  display: block;
}

.user-block__profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.user-block__btn--profile {
  position: relative;

  width: 255px;
  margin-left: auto;
  padding-right: 0;
  padding-left: 47px;
}

.user-block__btn--profile:hover,
.user-block__btn--profile:focus {
  color: #000000;
}

.user-block__btn--profile:active {
  color: rgba(0, 0, 0, 0.3);
}

.user-block__btn--profile svg {
  position: absolute;
  top: 14px;
  left: 13px;

  -webkit-transition: all 0.3s;
       -o-transition: all 0.3s;
          transition: all 0.3s;

  fill: #c5c5c5;
}

.user-block__btn--profile:hover svg,
.user-block__btn--profile:focus svg,
.user-block__btn--exit:hover svg,
.user-block__btn--exit:focus svg {
  fill: #32425c;
}

.user-block__btn--profile:active svg,
.user-block__btn--exit:active svg {
  fill: #c5c5c5;
}

.user-block__btn--exit {
  position: relative;

  width: 45px;
  height: 45px;
  margin: 0;
  padding: 0;
}

.user-block__btn--exit svg {
  position: absolute;
  top: 14px;
  right: 10px;

  -webkit-transition: all 0.3s;
       -o-transition: all 0.3s;
          transition: all 0.3s;

  fill: #c5c5c5;
}
.user-block__controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  padding-top: 4px;
  padding-left: 19px;

  list-style: none;
}

.user-block__controls li {
  padding-right: 32px;
}

.user-block__controls li:nth-last-child(1) {
  padding-right: 0;
}

.user-block__controls a {
  position: relative;

  display: inline-block;

  font-size: 16px;
  line-height: 18px;
  color: #32425c;

  -webkit-transition: all 0.3s;
       -o-transition: all 0.3s;
          transition: all 0.3s;
}

.user-block__controls a::before {
  content: "";
  position: absolute;
  bottom: 1px;
  left: 0;

  width: 100%;
  height: 1px;

  background-color: #32425c;

  -webkit-transition: all 0.3s;
       -o-transition: all 0.3s;
          transition: all 0.3s;
}

.user-block__controls a:hover,
.user-block__controls a:focus {
  color: #ee3643;
}

.user-block__controls a:hover::before,
.user-block__controls a:focus::before {
  content: "";

  background-color: #ee3643;
}

.user-block__controls a:active {
  color: #32425c;

  opacity: 0.3;
}

.user-block__controls a:active::before {
  content: "";

  background-color: #32425c;
}

.main-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
      flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  padding: 0;

  list-style: none;

  background-color: #32425c;
  -webkit-box-shadow: 0 5px 0 0 #293449;
          box-shadow: 0 5px 0 0 #293449;

  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -ms-flex-wrap: wrap;
}

.main-nav__item a {
  display: block;
  padding: 20px 31px 18px 30px;

  font-size: 17px;
  line-height: 17px;
  color: #ffffff;

  -webkit-transition: all 0.3s;
       -o-transition: all 0.3s;
          transition: all 0.3s;
}

.main-nav__item a:hover,
.main-nav__item a:focus {
  background-color: #293449;
}

.main-nav__item a:focus {
  color: rgba(255, 255, 255, 0.5);

  background-color: #1d2739;
}

.promo {
  margin-bottom: 45px;
  padding-top: 59px;
}

.promo__up {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.promo-item {
  position: relative;

  width: 300px;
  min-height: 123px;
  padding: 23px;
  padding-top: 21px;
  padding-right: 123px;
  padding-bottom: 21px;
}

.promo__item {
  margin-right: 20px;
  margin-bottom: 20px;
}

.promo-item__title {
  margin: 0;

  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  font-family: "Cuprum", sans-serif;
  color: #ffffff;
}

.promo-item__btn {
  min-width: 135px;
  margin-top: 12px;
  margin-left: 2px;
  padding: 11px 10px 9px 10px;

  color: #ffffff;
  text-transform: uppercase;

  background-color: rgba(0, 0, 0, 0.1);
}

.promo-item__btn:hover,
.promo-item__btn:focus {
  background-color: rgba(0, 0, 0, 0.2);
}

.promo-item__btn:active {
  background-color: rgba(0, 0, 0, 0.3);
}

.promo__item--materials {
  background-color: #ffbf47;
}

.promo__item--materials::after {
  content: "";
  position: absolute;
  top: 31px;
  right: 45px;

  width: 44px;
  height: 65px;

  background-image: url(../img/icon-1.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.promo__item--tools {
  background-color: #3bbce3;
}

.promo__item--tools::after {
  content: "";
  position: absolute;
  top: 33px;
  right: 28px;

  width: 75px;
  height: 61px;

  background-image: url(../img/icon-2.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.promo__item--technic {
  margin-right: 0;

  background-color: #dc91d8;
}

.promo__item--technic::after {
  content: "";
  position: absolute;
  top: 31px;
  right: 31px;

  width: 78px;
  height: 62px;

  background-image: url(../img/icon-3.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.promo__item--sales {
  margin-right: 0;

  background-color: #8ed78f;
}

.promo__item--sales::after {
  content: "";
  position: absolute;
  top: 26px;
  right: 45px;

  width: 59px;
  height: 72px;

  background-image: url(../img/icon-4.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.promo__item--delivery {
  margin-right: 0;
  margin-bottom: 0;

  background-color: #ffc047;
}

.promo__item--delivery::after {
  content: "";
  position: absolute;
  top: 32px;
  right: 31px;

  width: 78px;
  height: 63px;

  background-image: url(../img/icon-5.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.promo__item--slider {
  margin-bottom: 0;
}

.promo__down {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slider ul {
  margin: 0;
  padding: 0;

  list-style: none;
}

.slider {
  position: relative;

  font-family: "Cuprum", sans-serif;
}

.slide__content {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;

  width: 100%;
  height: 100%;
  padding: 23px;
  padding-left: 25px;

  color: #ffffff;
}

.slide__title {
  margin: 0;
  margin-bottom: 2px;

  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
}

.slide__text {
  margin: 0;

  font-size: 18px;
}

.slide__btn {
  position: absolute;
  bottom: 30px;
  left: 25px;

  min-width: 195px;
  padding-top: 11px;
  padding-bottom: 9px;
}

.slider__buttons {
  position: absolute;
  top: 114px;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding-right: 20px;
  padding-left: 25px;
}

.slider-buttons__button {
  z-index: 10;

  display: block;
  width: 22px;
  height: 40px;
  padding: 0;

  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.5;
}

.slider-buttons__button:hover,
.slider-buttons__button:focus {
  background-color: transparent;
  opacity: 0.8;
}

.slider-buttons__button:active {
  background-color: transparent;
  opacity: 1;
}

.slider-buttons__button--prev {
  background-image: url(../img/icon-left.svg);
}

.slider-buttons__button--next {
  margin-left: auto;

  background-image: url(../img/icon-right.svg);
}

.slider__indicators {
  position: absolute;
  bottom: 44px;
  z-index: 10;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  width: 100%;

  -webkit-box-pack: center;
  -ms-flex-pack: center;
}

.slider-indicators__indicator {
  width: 10px;
  height: 10px;
  margin: 0 5px;

  background-color: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 50%;
}

.slider-indicators__indicator--active {
  background-color: #ee3643;
}

.slider__slide--1 {
  display: none;
}

.popular {
  padding-bottom: 65px;
}

.heading {
  display: block;
  margin: 0;
  margin-bottom: 20px;
  padding: 30px 28px;

  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  font-family: "Cuprum", sans-serif;
  color: #32425c;
  text-transform: uppercase;

  background-color: #f2f6f8;
}

.heading__with-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 24px 26px 29px;

  background-color: #f9f5f0;

  -webkit-box-align: center;
  -webkit-box-pack: justify;
  -ms-flex-align: center;
  -ms-flex-pack: justify;
}

.heading__with-button h3 {
  margin: 0;

  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  color: #32425c;
  text-transform: uppercase;
}

.heading__with-button .btn {
  min-width: 253px;
}

.catalog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
      flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style: none;

  -ms-flex-wrap: wrap;
}

.card {
  position: relative;

  width: 220px;

  text-align: center;

  border: 1px solid #eaeaea;

  -webkit-transition: all 0.3s;
       -o-transition: all 0.3s;
          transition: all 0.3s;
}

.card__heading {
  display: block;
  margin: 0;
  margin-top: 1px;
  padding: 0 30px;

  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
}

.card__old-price {
  display: block;
  min-height: 39px;
  padding-top: 11px;
  padding-bottom: 10px;

  color: #a9a9a9;
}

.card__new-price {
  display: block;
  width: 141px;
  height: 38px;
  margin-right: 35px;
  margin-bottom: 20px;
  margin-left: 42px;
  padding: 10px 19px;

  color: #ffffff;

  background-image: url(../img/red-button.svg);
}

.card__old-price,
.card__new-price {
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  text-transform: uppercase;
}

.card__buttons {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;

  width: 218px;
  height: 170px;
  padding: 43px 0;

  background-color: #ffffff;
}

.card-buttons__button {
  display: block;
  width: 135px;
  min-height: 38px;
  margin: 0 auto;
  padding: 7px 0;

  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #63a63e;
}

.card-buttons__button--buy {
  min-height: 35px;
  margin-bottom: 11px;
  padding-top: 11px;

  -webkit-box-shadow: 0 3px 0 0 #367315;
          box-shadow: 0 3px 0 0 #367315;
}

.card-buttons__button--buy:hover,
.card-buttons__button--buy:focus {
  background-color: #5fbb2d;
}

.card-buttons__button--buy:active {
  background-color: #518534;
  -webkit-box-shadow: 0 3px 0 0 #518534;
          box-shadow: 0 3px 0 0 #518534;
}

.card-buttons__button--bookmark {
  color: #32425c;

  background-color: #ffffff;
  border: 3px solid #63a63e;
}

.card-buttons__button--bookmark:hover,
.card-buttons__button--bookmark:focus {
  background-color: #ffffff;
  border-color: #32425c;
}

.card-buttons__button--bookmark:active {
  color: #32425c;

  background-color: #ffffff;
  border-color: #32425c;
  opacity: 0.3;
}

.card .card__buttons {
  display: none;
}

.card:hover .card__buttons,
.card:focus .card__buttons,
.card:focus-within .card__buttons {
  display: block;
}

.card:hover,
.card:focus,
.card:focus-within {
  -webkit-box-shadow: 0 10px 25px 0 rgba(41, 52, 73, 0.5);
          box-shadow: 0 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.catalog__product-card,
.catalog__firm-card,
.catalog-catalog .catalog__product-card:nth-child(4n) {
  margin-right: 20px;
  margin-bottom: 20px;
}

.catalog__product-card:nth-child(4n),
.catalog__firm-card:nth-child(4n) {
  margin-right: 0;
}

.catalog-catalog .catalog__product-card:nth-child(3n) {
  margin-right: 0;
}

.popular-goods__catalog {
  margin-bottom: 1px;
}

.firm-card {
  position: relative;

  height: 145px;

  border: 0;
}

.firm-card__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;

  border: 1px solid #eaeaea;

  -webkit-transition: -webkit-box-shadow 0.3s;
       -o-transition:         box-shadow 0.3s;
          transition: -webkit-box-shadow 0.3s;
          transition:         box-shadow 0.3s;
          transition:         box-shadow 0.3s, -webkit-box-shadow 0.3s;
}

.firm-card__link:hover,
.firm-card__link:focus {
  border: 0;
  -webkit-box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5);
          box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5);
}

.firm-card__link:focus {
  -webkit-box-shadow: 0 4px 10px rgba(41, 52, 73, 0.5);
          box-shadow: 0 4px 10px rgba(41, 52, 73, 0.5);
}

.firm-card__link:focus img {
  opacity: 0.3;

  -webkit-transition: opacity 0.3s;
       -o-transition: opacity 0.3s;
          transition: opacity 0.3s;
}

.firm-card img {
  margin: auto;
}

.services {
  padding-top: 66px;

  background-color: #f5f8fa;
}

.services h2 {
  margin: 0;
  margin-bottom: 25px;

  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  font-family: "Cuprum", sans-serif;
  color: #000000;
  text-transform: uppercase;
}

.services__text {
  margin: 0;
  margin-bottom: 69px;
}

.services-content {
  position: relative;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 98px;
}

.services-content__menu {
  margin: 0;
  padding: 0;

  list-style: none;
}

.services-content__control {
  display: block;
  width: 240px;
  min-height: 62px;
  padding: 14px 22px 16px 22px;

  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
  font-family: "Cuprum", sans-serif;
  color: #ffffff;

  background-color: #32425c;
  border-top: 1px solid #405069;
  border-bottom: 1px solid #293449;
  cursor: pointer;

  -webkit-transition: all 0.3s;
       -o-transition: all 0.3s;
          transition: all 0.3s;
}

.services-content__control:hover,
.services-content__control:focus {
  background-color: #293449;
  outline: 0;
}

#delivery:checked ~ .services-content__menu .services-content__control--delivery,
#guarantee:checked ~ .services-content__menu .services-content__control--guarantee,
#credit:checked ~ .services-content__menu .services-content__control--credit {
  color: #32425c;

  background-color: #ffffff;
  border-color: transparent;
}

.services-list__item {
  display: none;
}

#delivery:checked ~ .services-list .services-list__item--delivery {
  display: block;
}

#guarantee:checked ~ .services-list .services-list__item--guarantee {
  display: block;
}

#credit:checked ~ .services-list .services-list__item--credit {
  display: block;
}

.services-content__list {
  margin: 0;
}

.services-list {
  padding: 0;
  padding-top: 4px;
  padding-left: 80px;
}

.services-list__item h3 {
  margin: 0;
  margin-bottom: 31px;

  font-weight: normal;
  font-size: 36px;
  line-height: 24px;
  font-family: "Cuprum", sans-serif;
  color: #32425c;
  text-transform: uppercase;
}

.services-list__item p {
  margin: 0;
}

.services-list__item--delivery {
  padding-right: 345px;
}

.services-list__item--delivery::before {
  content: "";
  position: absolute;
  right: -1px;
  bottom: 0;
  z-index: 1;

  width: 468px;
  height: 261px;

  background-image: url(../img/icon-delivery.png);
}

.services-list__item--guarantee {
  padding-right: 240px;
}

.services-list__item--guarantee::before {
  content: "";
  position: absolute;
  right: 3px;
  bottom: 0;
  z-index: 1;

  width: 389px;
  height: 283px;

  background-image: url(../img/icon-guarantee.png);
}

.services-list__item--credit {
  padding-right: 330px;
}

.services-list__item--credit::before {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 1;

  width: 465px;
  height: 285px;

  background-image: url(../img/icon-credit.png);
}

.services-list__item--credit p {
  margin-bottom: 25px;
}

.info {
  margin-bottom: 86px;
  padding-top: 79px;
}

.info > .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.info h3 {
  margin: 0;
  margin-bottom: 26px;

  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  font-family: "Cuprum", sans-serif;
  text-transform: uppercase;
}

.info p {
  margin: 0;
  margin-bottom: 24px;
}

.info__about {
  width: 620px;
  margin-right: 20px;
}

.about-tehnomart {
  padding-right: 80px;
}

.about-tehnomart__list {
  margin: 0;
  margin-top: -3px;
  margin-bottom: 36px;
  padding: 0;
  padding-left: 36px;

  list-style: none;
  font-size: 18px;
  line-height: 20px;
  font-family: "Cuprum", sans-serif;
}

.about-tehnomart__item {
  position: relative;

  margin-bottom: 20px;
}

.about-tehnomart__item:nth-last-child(1) {
  margin-bottom: 0;
}

.about-tehnomart__item::before {
  content: "";
  position: absolute;
  top: 9px;
  left: -36px;

  width: 25px;
  height: 2px;

  background-color: #ee3643;
}

.about-tehnomart .btn {
  min-width: 220px;
}

.info__contacts {
  width: 300px;
}

.main-contacts__map {
  display: block;
  margin-top: 7px;
  margin-bottom: 32px;
}

.main-contacts .btn {
  width: 100%;
}

.footer-menu {
  background-color: #32425c;
}

.footer-menu > .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-info {
  width: 380px;
  padding-right: 40px;
}

.footer-info__logo,
.footer-info__logo:not([href]):hover,
.footer-info__logo:not([href]):active {
  width: 220px;
  height: 63px;
  margin-bottom: 33px;

  background-color: #ee3643;
}

.footer-info__logo img {
  margin: auto;
}

.footer-info__contacts {
  padding-left: 3px;

  font-size: 18px;
  line-height: 24px;
  font-family: "Cuprum", sans-serif;
  color: #ffffff;
}

.footer-info__contacts address {
  font-style: normal;
}

.footer-info__contacts a {
  color: #ffffff;
}

.footer-navigation {
  width: 560px;
  padding-top: 28px;
}

.footer-navigation__pages,
.footer-navigation__product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: flex-end;
  margin: 0;
  padding: 0;

  list-style: none;
  font-size: 18px;
  line-height: 24px;
  font-family: "Cuprum", sans-serif;

  -webkit-box-pack: end;
  -ms-flex-pack: end;
}

.footer-navigation__pages {
  margin-bottom: 14px;
}

.footer-navigation__pages li,
.footer-navigation__product li {
  padding: 10px 29px;
}

.footer-navigation__pages a,
.footer-navigation__product a {
  position: relative;

  display: inline-block;

  -webkit-transition: all 0.3s;
       -o-transition: all 0.3s;
          transition: all 0.3s;
}

.footer-navigation__pages a {
  color: #f1f5f7;
}

.footer-navigation__product a {
  color: #ffd180;
}

.footer-navigation__product a::before,
.footer-navigation__pages a::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;

  width: 0;
  height: 1px;

  -webkit-transition: all 0.3s;
       -o-transition: all 0.3s;
          transition: all 0.3s;
}

.footer-navigation__pages a::before {
  background-color: #f1f5f7;
}

.footer-navigation__product a::before {
  background-color: #ffd180;
}

.footer-navigation__pages a[href]:hover::before,
.footer-navigation__pages a[href]:focus::before,
.footer-navigation__product a[href]:hover::before,
.footer-navigation__product a[href]:focus::before {
  content: "";
  left: 0;

  width: 100%;
}

.footer-navigation__pages a[href]:active,
.footer-navigation__product a[href]:active {
  text-decoration: none;

  opacity: 0.5;
}

.footer-navigation__pages a[href]:active::before,
.footer-navigation__product a[href]:active::before {
  content: "";
  left: 50%;

  width: 0;
}

.footer-navigation__pages li:nth-last-child(1),
.footer-navigation__product li:nth-last-child(1) {
  padding-right: 0;
}

.footer-navigation__pages li:nth-child(1),
.footer-navigation__product li:nth-child(1) {
  padding-left: 0;
}

.footer-menu {
  min-height: 193px;
  padding-bottom: 20px;
}

.footer-contacts {
  padding-bottom: 23px;

  background-color: #293449;
}

.footer-contacts .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;

  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
}

.footer-contacts__copyright {
  width: 275px;
  margin: 0;
  padding-top: 37px;
  padding-right: 35px;
  padding-left: 1px;

  font-size: 16px;
  line-height: 18px;
  font-family: "Cuprum", sans-serif;
  color: #ffffff;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  padding-top: 35px;

  list-style: none;
}

.social li {
  margin-right: 3px;
}

.social__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 41px;
  height: 41px;
  padding: 0;

  background-color: #212a3a;
  border-radius: 50%;
}

.social__btn::before {
  content: "";

  margin: auto;
}

.social__btn--vk::before {
  width: 26px;
  height: 15px;

  background-image: url(../img/icon-vk.svg);
}

.social__btn--fb::before {
  width: 12px;
  height: 22px;

  background-image: url(../img/icon-fb.svg);
}

.social__btn--inst::before {
  width: 21px;
  height: 21px;

  background-image: url(../img/icon-insta.svg);
}

.feedback {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: flex-end;
  padding-top: 37px;

  font-size: 16px;
  line-height: 18px;
  font-family: "Cuprum", sans-serif;
  color: #ffffff;

  -webkit-box-pack: end;
  -ms-flex-pack: end;
}

.feedback p {
  margin: 0;
}

.feedback p:nth-child(1) {
  width: 140px;
  margin-right: 48px;
}

.feedback p:nth-child(2) {
  width: 111px;
}

.feedback__link {
  position: relative;

  display: inline-block;

  color: #ffd180;

  -webkit-transition: all 0.3s;
       -o-transition: all 0.3s;
          transition: all 0.3s;
}

.feedback__link::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;

  width: 0;
  height: 1px;

  background-color: #ffd180;

  -webkit-transition: all 0.3s;
       -o-transition: all 0.3s;
          transition: all 0.3s;
}

.feedback__link:hover::before,
.feedback__link:focus::before {
  content: "";
  left: 0;

  width: 100%;
}

.feedback__link:active {
  color: #ee3643;
}

.feedback__link:active::before {
  content: "";
  left: 50%;

  width: 0;

  background-color: #ee3643;
}

.breadcrumbs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  margin-left: -2px;
  padding: 0;
  padding-top: 20px;
  padding-bottom: 20px;

  list-style: none;
}

.breadcrumbs li {
  position: relative;

  margin-right: 20px;
  padding-left: 22px;
}

.breadcrumbs li::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 0;

  width: 8px;
  height: 12px;

  background-image: url(../img/icon-right-small.svg);
}

.breadcrumbs li:nth-child(1) {
  padding-left: 0;
}

.breadcrumbs li:nth-child(1)::before {
  display: none;
}

.breadcrumbs li:nth-last-child(1) {
  margin-right: 0;
}

.breadcrumbs__main {
  width: 14px;
  height: 12px;
  margin-top: 2px;
  margin-left: -1px;
  padding: 0;

  background-image: url(../img/icon-home.svg);
}

.breadcrumbs a {
  display: block;

  font-size: 13px;
  line-height: 18px;
  color: #000000;
  text-transform: uppercase;
}

.catalog-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.filter {
  width: 220px;
  margin-right: 20px;
}

.filter h2 {
  display: block;
  width: 100%;
  margin: 0;
  margin-bottom: 11px;
  padding: 9px 19px 11px 19px;

  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;

  background-color: #f7f3ec;
}

.filter-form fieldset {
  margin: 0;
  margin-bottom: 16px;
  padding: 0;
  padding-bottom: 20px;

  border: 0;
  border-bottom: 1px solid #e5e5e5;
}

.filter-form fieldset:nth-last-child(2) {
  border: 0;
}

.filter-form legend {
  margin-bottom: 14px;

  font-weight: bold;
  font-size: 17px;
  line-height: 30px;
  font-family: "PT Sans", sans-serif;
  text-transform: uppercase;
}

.filter-form__range-controls {
  height: 80px;
  margin-bottom: 9px;
}

.range-controls {
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;

  background-color: #f7f3ec;
  border-radius: 4px;
}

.range-controls__scale {
  height: 2px;

  background: #d7dcde;
}

.range-controls__bar {
  position: relative;

  width: 140px;
  height: 2px;

  background: #00ca74;
}

.range-controls__toggle {
  position: absolute;
  bottom: 1px;
  left: 0;

  width: 20px;
  height: 20px;
  padding: 0;

  background-color: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 1px 0 #cfcfcf;
          box-shadow: 0 2px 1px 0 #cfcfcf;
  -webkit-transform: translateY(50%);
      -ms-transform: translateY(50%);
          transform: translateY(50%);
  cursor: pointer;
}

.range-controls__toggle--min {
  left: 0;
}

.range-controls__toggle--max {
  left: 140px;
}

.filter-form__price-container {
  position: relative;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;

  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
}

.filter-form__input {
  padding: 11px 18px 14px 24px;

  font-size: 17px;
  line-height: 18px;
  text-align: center;

  background-color: #f7f3ec;
  border: 0;
  border-radius: 3px;

  -moz-appearance: textfield;
}

.filter-form__input--price {
  width: 95px;
  height: 38px;
}

.filter-form__input--price::-webkit-outer-spin-button,
.filter-form__input--price::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.filter-form__price-container::after {
  content: "";
  position: absolute;
  top: 19px;
  left: 105px;

  width: 10px;
  height: 1px;

  background-color: #000000;
}

.filter-form__list {
  margin: 0;
  margin-top: -1px;
  padding: 0;

  list-style: none;
}

.filter-form__item {
  margin-bottom: 17px;
}

.filter-form__item:nth-last-child(1) {
  margin-bottom: 0;
}

.checkbox-label,
.radio-label {
  position: relative;

  display: block;
  padding: 0 10px 3px 34px;

  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;

  cursor: pointer;
}

.radio-label {
  padding: 2px 10px 3px 34px;
}

.checkbox-label::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;

  width: 27px;
  height: 23px;

  background-image: url(../img/checkbox-off.svg);
  background-repeat: no-repeat;
  opacity: 0.23;

  -webkit-transition: all 0.3s;
       -o-transition: all 0.3s;
          transition: all 0.3s;
}

.checkbox:focus + .checkbox-label::before,
.checkbox-label:hover::before {
  opacity: 0.29;
}

.checkbox:focus + .checkbox-label,
.radio:focus + .radio-label {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

.checkbox:checked + .checkbox-label::before {
  background-image: url(../img/checkbox-on.svg);
}

.checkbox:disabled + .checkbox-label::before {
  opacity: 0.09;
}

.radio-label::before {
  content: "";
  position: absolute;
  top: 0;
  left: -1px;

  width: 25px;
  height: 25px;

  background-image: url(../img/radio-off.svg);
  background-repeat: no-repeat;
  background-position: left;
  opacity: 0.23;

  -webkit-transition: all 0.3s;
       -o-transition: all 0.3s;
          transition: all 0.3s;
}

.radio:focus + .radio-label::before,
.radio-label:hover::before {
  opacity: 0.29;
}

.radio:checked + .radio-label::before {
  background-image: url(../img/radio-on.svg);
}

.radio:disabled + .radio-label::before {
  opacity: 0.09;
}

.filter-form__submit {
  width: 140px;
  min-height: 38px;
  padding: 5px 10px 5px 10px;

  line-height: 18px;
  text-transform: uppercase;

  background-color: #ffffff;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
}

.container-right {
  width: 700px;
}

.sorting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  margin-bottom: 20px;
  padding: 9px 17px 11px 19px;

  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;

  background-color: #f7f3ec;
  border-radius: 3px;
}

.sorting__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: flex-end;
  margin: 0;
  margin-left: auto;
  padding: 0;

  list-style: none;

  -webkit-box-pack: end;
  -ms-flex-pack: end;
}

.sorting__list li {
  margin-left: 65px;
}

.sorting__item {
  position: relative;

  line-height: 18px;
  color: rgba(0, 0, 0, 0.3);
  text-transform: uppercase;

  -webkit-transition: all 0.3s;
       -o-transition: all 0.3s;
          transition: all 0.3s;
}

.sorting__item::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;

  width: 100%;
  height: 1px;

  border-top: 1px dotted #ee3643;

  -webkit-transition: all 0.3s;
       -o-transition: all 0.3s;
          transition: all 0.3s;
}

.sorting__item:hover,
.sorting__item:focus {
  color: #000000;
}

.sorting__item:hover::before,
.sorting__item:focus::before {
  border-top: 1px solid #ee3643;
}

.sorting__item:active {
  color: #ee3643;
}

.sorting__item:active::before {
  left: 50%;

  width: 0;
}

.sorting__item--active {
  margin-right: 6px;

  color: #ee3643;
}

.sorting__item--active::before {
  content: "";

  display: none;
}

.sorting__list--direction {
  margin-left: 46px;
}

.direction {
  align-items: center;

  -webkit-box-align: center;
  -ms-flex-align: center;
}

.direction li {
  margin-left: 21px;
}

.direction li:nth-child(1) {
  margin-left: 0;
}

.direction__item svg {
  -webkit-transition: all 0.3s;
       -o-transition: all 0.3s;
          transition: all 0.3s;

  fill: #c5c5c5;
}

.direction__item:hover svg,
.direction__item:focus svg {
  fill: #000000;
}

.direction__item:active svg,
.direction__item--active svg,
.direction__item--active:hover svg {
  fill: #ee3643;
}

.direction__item--down svg {
  -webkit-transform: rotateX(180deg);
          transform: rotateX(180deg);
}

.catalog-catalog {
  margin-bottom: 33px;
}

.pages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  margin-bottom: 60px;
  padding: 0;

  list-style: none;
}

.pages li {
  margin-right: 10px;
}

.pages__item {
  min-width: 38px;
  min-height: 38px;
  padding: 9px 10px 9px 12px;

  font-size: 13px;
  line-height: 18px;
  font-family: "PT Sans", sans-serif;
  color: #000000;

  background-color: #ffffff;
  border: 1px solid #e5e5e5;
  border-radius: 3px;

  -webkit-transition: all 0.3s;
       -o-transition: all 0.3s;
          transition: all 0.3s;
}

.pages__item:hover,
.pages__item:focus {
  background-color: #ffffff;
  border-color: #bdc6ca;
}

.pages__item:active {
  background-color: #ffffff;
  border-color: #ee3643;
}

.pages__item--active {
  color: #ffffff;

  background-color: #ee3643;
  border: 0;
}

.pages__item--next {
  min-width: 140px;
}

.about-good {
  background-color: #f2f6f8;
}

.about-good .container {
  padding-top: 65px;
  padding-bottom: 55px;
}

.about-good h2 {
  margin: 0;
  margin-bottom: 26px;

  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  font-family: "Cuprum", sans-serif;
  text-transform: uppercase;
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 15;

  display: none;
  width: 620px;
  min-height: 282px;
  padding: 50px 80px 0 80px;

  background-color: #ffffff;
  -webkit-box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.75);
          box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.75);
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.popup::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 7px;

  background-color: #ff5257;
}

.popup__close {
  position: absolute;
  top: 16px;
  right: 9px;

  width: 21px;
  height: 21px;

  background-color: transparent;
  background-image: url(../img/icon-close.svg);
  border: 0;
  border-radius: 0;
  cursor: pointer;
}

.letter-popup__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  margin-bottom: 22px;
}

.letter-popup__container div {
  width: 220px;
  margin-right: 20px;
}

.letter-popup__container div:nth-last-child(1) {
  margin-right: 0;
}

.letter-popup__form label {
  margin-bottom: 13px;

  font-size: 18px;
  line-height: 18px;
  font-family: "Cuprum", sans-serif;
}

.letter-popup__form input,
.letter-popup__form textarea {
  display: block;
  width: 100%;
  height: 38px;
  padding: 11px 16px;

  border: solid 2px #dee3e4;
}

.letter-popup__form textarea {
  height: 114px;
  margin-bottom: 149px;

  resize: none;
}

.letter-popup__form input::-webkit-input-placeholder,
.letter-popup__form textarea::-webkit-input-placeholder {
  font-size: 13px;
  line-height: 18px;
  font-family: "PT Sans", sans-serif;
  color: #a9a9a9;
}

.letter-popup__form input:-ms-input-placeholder,
.letter-popup__form textarea:-ms-input-placeholder {
  font-size: 13px;
  line-height: 18px;
  font-family: "PT Sans", sans-serif;
  color: #a9a9a9;
}

.letter-popup__form input::-ms-input-placeholder,
.letter-popup__form textarea::-ms-input-placeholder {
  font-size: 13px;
  line-height: 18px;
  font-family: "PT Sans", sans-serif;
  color: #a9a9a9;
}

.letter-popup__form input::placeholder,
.letter-popup__form textarea::placeholder {
  font-size: 13px;
  line-height: 18px;
  font-family: "PT Sans", sans-serif;
  color: #a9a9a9;
}

.popup__bottom {
  position: absolute;
  bottom: 0;
  left: 0;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 112px;
  padding: 0 80px;

  background-color: #f4f4f4;
}

.popup__btn {
  width: 100%;
  height: 38px;

  border: 0;
}

.map-popup {
  width: 940px;
  height: 446px;
  padding: 0;
}

.map-popup::before {
  display: none;
}

.cart-popup {
  padding-top: 75px;
}

.cart-popup__heading {
  margin-bottom: 180px;
  padding-left: 99px;
}

.cart-popup__heading h2 {
  margin: 0;

  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  font-family: "Cuprum", sans-serif;
}

.cart-popup__heading::before {
  content: "";
  position: absolute;
  top: 55px;
  left: 81px;

  width: 66px;
  height: 66px;

  background-image: url(../img/icon-mark.svg);
}

.cart-popup__btn {
  width: 220px;
  margin-right: 20px;
}

.cart-popup__btn:nth-last-child(1) {
  margin-right: 0;
}

.cart-popup__btn--resume {
  color: #000000;

  background-color: #ffffff;
}

.cart-popup__btn--resume:hover,
.cart-popup__btn--resume:focus {
  color: #ee3643;

  background-color: #ffffff;
}

.cart-popup__btn--resume:active {
  color: rgba(0, 0, 0, 0.3);

  background-color: #ffffff;
}
